table {
  font-family: arial, sans-serif;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.75rem;
}

th {
  text-align: left;
  padding: 15px;
  padding-bottom: 0;
  color: gray;
  font-size: small;
}

td {
  background-color: white;
  padding: 15px;
  text-align: left;
}

@media (max-width: 750px) {
  table {
    border-spacing: 0;
  }

  th {
    padding: 10px 0;
  }

  td {
    padding: 0;
  }
}
